{
  "Token": "",
  "LavalinkPassword": "",
  "Prefix": "",
  "BotTitle": "",
  "EmbedThumbnail": "",
  "ReconnectIndefinitely": false,
  "Owner": 74968333413257216,
  "EnableResinModule": true
}