services:
  multibot:
    image: ghcr.io/ds-exe/multibot.net:latest
    pull_policy: always
    restart: unless-stopped
    environment:
      - DATABASE_NAME=database_name.db
    volumes:
      - ./config.json:/App/config.json
      - ./Database:/App/Database
