services:
  multibot:
    image: ghcr.io/ds-exe/multibot.net:latest
    pull_policy: always
    restart: unless-stopped
    environment:
      TOKEN: "Discord_Token" # Required
      # DATABASE_PATH: "" # Optional, defaults to /app/data/Multi_Bot.db
      # EMBED_THUMBNAIL: "" # Optional, defaults to empty
      # OWNER: "" # Optional, defaults to Creator
      # REMOVE_COMMANDS: "" # Optional, defaults to false
    volumes:
      - ./path/to/data:/app/data # Required
